* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: "Orbitron", sans-serif;
     background-color: black;
     color: white;
     min-height: 100vh;
}

.hero {
     display: flex;
     justify-content: center;
     width: 100%;
}

.hero-left {
     width: 50%;
     position: relative;
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: stretch;
     padding: 30px;
     position: absolute;
     width: 100%;
     top: 0;
     right: 0;
}

.logo {
     font-weight: bold;
     font-weight: 1.2em;
     letter-spacing: 4px;
}

.navbar nav {
     display: flex;
     gap: 30px;
}

nav a {
     text-decoration: none;
     color: white;
     font-size: 16px;
}


.content {
     margin-top: 150px;
     padding: 30px;
}

.AI {
     font-size: 15px;
     opacity: 0.7;
     margin-bottom: 15px;

}

.content h1 {
     font-size: 50px;
     line-height: 1.2;
     margin-bottom: 1px;
     letter-spacing: 5px;
}

.content .Fruit {
     font-size: 70px;
     font-weight: bold;
     letter-spacing: 6px;
}

.content p {
     font-weight: lighter;
     font-size: 20px;
}

.discover {
     padding: 8px 13px;
     background-color: black;
     color: white;
     border-radius: 50px;
     border: 1px solid white;
     margin-top: 35px;
}

.hero-right {
     width: 50%;
}

.hero-right img {
     width: 100%;
}